*{
    box-sizing: border-box;
}



body.html {
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
ul li {
    margin: 20px;
    padding: 10px;
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
.container{
    width: 170px;
    margin: 0 auto;
    text-align: center;
    

}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    padding: 24px 0;
}
.header-col{
    display: flex;
    align-items: center;
}
.menu-list{
    display: flex; 
}
.menu-item{
    margin-right: 50px;
}.menu-item:last-child{
    margin-right: 0;
}
.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

   

}

.menu-link:hover{
    color: rgba(207, 86%, 95%, 1)  ;

    

}
.menu-link-active{
    color: cornflowerblue ;

}

.logo{
    margin-right: 93px;
}
.email , .tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    

        
     
    
    
    }


    


.email{
    margin-right: 50px;
    width: 135px;


    
}

.email:hover{
    color: cornflowerblue;
}
.tel:hover{
    color: cornflowerblue;
 

}
.preview{
    background: #2F303A;
    height: 600px;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.preview-title{
    width: 696px;
height: 120px;
left: 452px;
top: 280px;
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
justify-content: center;
margin: 0 auto;
margin-bottom: 30px;


}
.preview .container{
    text-align: center;
    margin-bottom: 96px;
}
.button{
    position: absolute;


left: 1200px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
justify-content: center;

color: #FFFFFF;
border: none;
padding: 16px 29px;
cursor: pointer;
}
.options-list{
    display: flex;
}
.options-item{
    margin-right: 30px;
}
.options-item:last-child{
    margin-right: 0;
}
.options-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    margin-bottom: 10px;

}
.options-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    
    
    letter-spacing: 0.03em;
    
    color: #757575;

}
.options{
    margin-bottom: 94px;

}
.doing-list{
    display: flex;
}
.doing-title{
    font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;

color: #212121;
}
.doing-img{
    width: 370px;
height: 294px;
display: inline-block;
margin-right: 30px;

}
.doing-img:last-child{
    margin-right: 0;
}
.team-list{
    display: flex;
    text-decoration: center;
    padding: 94px 0;
}
.team-img{
    width: 270px;
height: 260px;
text-align: center;
margin-bottom: 30px;
}
.team-item{
    margin-right: 30px;
    text-align: center;
    background: #FFFFFF;


box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
padding-bottom:30px ;
}
.team-img:last-child{
    margin-right: 0;
}
.team-name{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
 

text-align: center;
letter-spacing: 0.03em;

color:black;
margin-bottom: 10px; }

.team-position{
    font-size: 16px;
line-height: 19px;


text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.title{
    font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121
}
.footer{
    font-size: 26px;
    line-height: 31px;
    
    
    letter-spacing: 0.03em;
    
    background: #2F303A;
    padding: 60px 0;
}
.footer .container{
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
}
.adres{
    font-size: 14px;
line-height: 24px;


letter-spacing: 0.03em;

color: #FFFFFF;
margin-bottom: 9px;
}
.footer .logo{
    margin-bottom: 20px;
    margin-right: 0;
}
.footer .email{
    margin-bottom: 9px;
    margin-right: 0;
}
.main-portfolio{
    padding: 94px 0 ;
}
.portfolio-tab-item:last-child{
    margin-right: 0;
    
}
.portfolio-tab-item{
    margin-right: 8px;

}
.portfolio-tab-list{
    display: flex;
     align-items: center;
     justify-content: center;

}
.portfolio-tab-link{
    background: #F5F4FA;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 0.03em;
padding: 6px 22px;

color: #212121;
}
.portfolio-tab-link-active{
    background: #2196F3;
    
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio-tab{
    margin-bottom: 50px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item{
   
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    


}











